<mat-card>
  <mat-card-title>Car</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <h3 mat-line>
          Brand: <a mat-button>{{car.brand}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Model: <a mat-button>{{car.model}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Year: <a mat-button>{{car.year}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Price: <a mat-button>{{car.price}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Description: <a mat-button>{{car.description}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Username: <a mat-button>{{car.user.username}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Email: <a mat-button>{{car.user.email}}</a>
        </h3>
      </mat-list-item>
      <mat-list-item>
        <h3 mat-line>
          Phone: <a mat-button>{{car.user.phone}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
